[submodule ".registry"]
	path = .registry
	url = https://github.com/dhersz/universe
	branch = HEAD
[submodule "accessibility"]
	path = accessibility
	url = https://github.com/ipeaGIT/accessibility
[submodule "aopint"]
	path = aopint
	url = https://github.com/dhersz/aopint
[submodule "dhmisc"]
	path = dhmisc
	url = https://github.com/dhersz/dhmisc
[submodule "gtfsio"]
	path = gtfsio
	url = https://github.com/r-transit/gtfsio
[submodule "gtfstools"]
	path = gtfstools
	url = https://github.com/ipeaGIT/gtfstools
[submodule "replr"]
	path = replr
	url = https://github.com/dhersz/replr
